<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JIRASync.JiraSync" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JIRASync.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JIRASync.JiraSync>
            <setting name="JiraProjectKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectFile" serializeAs="String">
                <value />
            </setting>
        </JIRASync.JiraSync>
        <JIRASync.Settings1>
            <setting name="JiraProjectKey" serializeAs="String">
                <value />
            </setting>
        </JIRASync.Settings1>
    </userSettings>
</configuration>